{
  "Comment": "A state machine for processing orders",
  "StartAt": "GenerateConfigurations",
  "States": {
    "GenerateConfigurations": {
      "Type": "Task",
      "Resource": "${generate_configurations_lambda}",
      "TimeoutSeconds": 300,
      "Next": "Process"
    },
    "Process": {
       "Type": "Map",
       "Iterator": {
            "StartAt": "Print",
            "States": {
                "Print": {
                    "Type": "Pass",
                    "Result": "$.quantity",
                    "End": true
                }
            }
       },
       "End": true
    }
  }
}