{
  "Comment": "A Hello World example of the Amazon States Language using Pass states",
  "StartAt": "Mock",
  "States": {
    "Mock": {
      "Type": "Pass",
      "Result": "Mock",
      "End": true
    }
  }
}